<!doctype html>
<html lang="en-US">

<head>
  <title>Andoi</title>
  <link rel="icon" href="../assets/logo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap" rel="stylesheet">
  <meta property="og:title" content="Andoi" />
  <meta
    property="og:description"
    content="Get some info about me!"
  />
</head>

<body>
  <header class="header">
    <a href="index.ejs" class="logo"><img src="../assets/logo.png"/>Andoi</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="index.ejs">Home</a></li>
      <li><a href="https://discord.gg/Cnpe33U">Support</a></li>
      <li><a href="invite.html">Invite</a></li>
      <li><a class="active" href="about.ejs">About</a></li>
    </ul>
  </header>
  <main>
    <section class="presentation">
      <div class="introduction">
        <div class="intro-text">
          <h1>About Andoi</h1>
          <p>
            Andoi is a powerful multi-purpose Discord bot written in<br><a href="https://www.javascript.com/">JavaScript</a> using <a href="https://nodejs.org/en/">Node.js</a> and the <a href="https://discord.js.org/#/">Discord.js</a> library.
            <br><br>Andoi's ambition is to combine features of multiple Discord bots<br>and combine it into one feature packed Discord bot.
            <br><br>Created and Developed with 💖 by TovadeDev#6787 and Potatoexe2930#1771</a>.
            <br><br>Join the <a href="https://discord.gg/Cnpe33U">Discord Server</a> to chat or get support.
          </p>
        </div>
      </div>
      <div class="cover">
        <img src="../assets/logo.png" alt="logo" />
      </div>
    </section>
  </main>
</body>
</html>