<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Andoi</title>
    <link rel="icon" href="../assets/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="Andoi" />
    <meta
      property="og:description"
      content="multi-purpose discord bot for your server!"
    />
  </head>

  <body>
    <header class="header">
      <a href="../index.html" class="logo"
        ><img src="../assets/logo.png" />Andoi</a
      >
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"
        ><span class="navicon"></span
      ></label>
      <ul class="menu">
        <li><a class="active" href="index.ejs">Home</a></li>
        <li><a href="https://discord.gg/Cnpe33U">Support</a></li>
        <li>
          <a href="invite.ejs">Invite</a>
        </li>
        <li><a href="about.ejs">About</a></li>
      </ul>
    </header>
    <main>
      <section class="presentation">
        <div class="introduction">
          <div class="intro-text">
            <h1>Andoi</h1>
            <p>
              A powerful multi-purpose Discord bot written in JavaScript<br />using
              the Discord.js library.
            </p>
          </div>
          <div class="cta">
            <a class="cta-invite" href="invite.ejs"><span>Invite</span></a>
          </div>
        </div>
        <div class="cover">
          <img src="../assets/logo.png" alt="logo" />
        </div>
      </section>
      <br />
      <br />
      <br />
      <section class="pictures">
        <div class="title">
          <h1>Features</h1>
        </div>
        <div class="gallery">
          <img src="../assets/fun.png" />
          <div class="des-title">Fun</div>
          <div class="des">
            From memes to slapping people, we have everything to keep your
            server members glued to this bot!
          </div>
        </div>
        <div class="gallery">
          <img src="../assets/moderation.png" />
          <div class="des-title">Moderation</div>
          <div class="des">
            The super easy way to keep your server a friendly place. Get rid of
            those trolls in a few simple command.
          </div>
        </div>
        <div class="gallery">
          <img src="../assets/customisability.png" />
          <div class="des-title">Customisability</div>
          <div class="des">
            Ever had bots with complicated commands? Not for Andoi! You can
            customise my prefix, join/leave channels and even logs! and much
            more!
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
